body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body { line-height: 1 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


li input {
	display: none;
	border: 0;
	outline:0;
	padding:0;
}

/* li.edit span {
	display: none;
} */

li input.edit {
	display: initial;
	border-bottom: 1px dashed #000;
}







/* * Copyright (c) 2012 Thibaut Courouble
* http://www.webinterfacelab.com
*
* Licensed under the MIT License:
* https://www.opensource.org/licenses/mit-license.php
 ================================================== */

/* ========================================================
 Page
 =====================================================
 ================================================== */

body {
  background: #f8f6f6;
  color: #404040;
  font-family: 'Lucida Grande', Verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}

a {
  color: #1e7ad3;
  text-decoration: none;
}

a:hover { text-decoration: underline }

.container {
  margin: 50px auto;
  width: 380px;
}

/* ========================================================
 Icons
 =====================================================
 ================================================== */

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: -2px;
  margin-right: 2px;
  background-image: url("http://demo.webinterfacelab.com/14-to-do-list/img/sprite.png");
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.icon-check { background-position: 0 0 }

.icon-add { background-position: -12px 0 }

.icon-delete { background-position: -24px 0 }

.icon-settings { background-position: -36px 0 }

.icon-previous { background-position: -48px 0 }

.icon-next { background-position: -60px 0 }

/* ========================================================
 Todo List
 =====================================================
 ================================================== */

.todo {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding: 12px 0;
  background: #fff;
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before, .todo:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.todo:after {
  left: 0;
  right: 0;
  bottom: -3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
  left: 2px;
  right: 2px;
  bottom: -5px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before, .lt-ie9 .todo:after {
  height: 1px;
  border-top: 0;
}

.todo-list { border-top: 1px solid #e6ebed }

.todo-list:before {
  content: '';
  width: 3px;
  z-index: 2;
  border: 1px solid #f2e3df;
  border-width: 0 1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 35px;
}

.todo-list li {
  position: relative;
  padding: 7px 15px 7px 50px;
  line-height: 21px;
  font-size: 12px;
  color: #8b8f97;
  border-bottom: 1px solid #e6ebed;
}

input[type=checkbox] {
display: none;
}

input[type=checkbox]:checked + .toggle:after{
opacity: 1;
}

.todo-list .toggle {
  display: block;
height: 35px;
width: 35px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-indent: 100%;
  overflow: hidden;
cursor: pointer;
}

.toggle:after {
content: '';
position: absolute;
position: absolute;
width: 7px;
height: 3px;
background: transparent;
top: 14px;
left: 13px;
border: 2px solid #aaa;
border-top: none;
border-right: none;

-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
opacity: 0;
}

.todo-list .toggle:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #faf9f9;
  border: 1px solid #6bb3ca;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  left: 9px;
  -webkit-box-shadow: 0 1px 1px #dfecf4;
  -moz-box-shadow: 0 1px 1px #dfecf4;
  box-shadow: 0 1px 1px #dfecf4;
}

.todo-list .toggle:hover:before {
  -webkit-box-shadow: 0 0 3px #6bb3ca;
  -moz-box-shadow: 0 0 3px #6bb3ca;
  box-shadow: 0 0 3px #6bb3ca;
}

.todo-list .done .toggle:before, .todo-list .toggle:active:before {
  border-color: #c0c0c0 #ccc #d8d8d8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
.todo-controls {
  margin: 0 15px 12px 50px;
  height: 12px;
}

.todo-controls li { float: left }

.todo-controls li + li { margin-left: 10px }

.todo-controls .right { float: right }

.todo-controls a {
  display: block;
  margin: 0;
  opacity: .6;
}

.todo-controls a:hover { opacity: 1 }

.todo-pagination {
  margin: 12px 12px 0 50px;
  height: 22px;
}

.todo-pagination li { float: left }

.todo-pagination .next { float: right }

.todo-pagination .next i { margin: 0 0 0 2px }

.todo-pagination a, .todo-pagination span {
  display: block;
  line-height: 22px;
  font-size: 11px;
  color: #676f7f;
}

.todo-pagination a {
  padding: 0 8px;
  text-shadow: 0 1px #fff;
  background: #f1f0f0;
  border-radius: 3px;
}

.todo-pagination a:hover {
  background: #e9e9e9;
  text-decoration: none;
}

.todo-pagination span {
  padding: 0 4px;
  opacity: .3;
}

/* ========================================================
 About
 =====================================================
 ================================================== */

.about {
  margin: 80px auto 50px;
  padding: 15px 20px;
  width: 300px;
  text-align: center;
  color: #777;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.about a {
  padding: 1px 3px;
  margin: 0 -1px;
  color: #1c74c8;
  text-decoration: none;
  border-radius: 2px;
}

.about a:hover {
  color: #fff;
  text-shadow: 0 1px #0063A6;
  background: #0090D2;
}

.links { zoom: 1 }

.links:before, .links:after {
  content: "";
  display: table;
}

.links:after { clear: both }

.links a {
  padding: 6px 0;
  float: left;
  width: 50%;
  font-size: 14px;
}

.author {
  margin-top: 15px;
  font-size: 11px;
}